<div class="container" *ngIf="post">
    <section class="row">
        <div class="col-md-10">
            <div class="card m-3">
                <div class="card-body">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <small>Posted By: {{ post.name }}</small>
                    <p>{{ post.body }}</p>
                </div>
            </div>
            <hr>
            <app-comments (commentAdded)="onCommentAdded($event)"></app-comments>
            <hr>
            <div *ngIf="post.comments.length">
                <div *ngFor="let comment of post.comments" class="pl-4">
                    <h6>{{ comment.name }}</h6>
                    <p>{{ comment.body }}</p>
                    <hr>
                </div>
            </div>
        </div>
    </section>
</div>